language: cpp
matrix:
  include:
  - os: linux
    addons:
      apt:
        sources:
          - ubuntu-toolchain-r-test
        packages:
          - g++-5
          - cmake
    env:
      - ARCH=x86_64
      - TOOLSET=linux-gnu
  - os: osx
    osx_image: xcode6.4
    addons:
      apt:
        sources:
          - llvm-toolchain-precise-3.7
        packages:
          - cmake
          - clang-3.7
    env:
      - ARCH=x86_64
      - TOOLSET=apple-darwin
before_install:
  - if [ $TRAVIS_OS_NAME == linux ]; then sudo apt-get install xorg-dev libgl1-mesa-glx libgl1-mesa-dev libglu1-mesa-dev freeglut3-dev mesa-common-dev mesa-common-dev -y; fi
before_script:
  - curl -k -o next_git_tag.sh https://gist.githubusercontent.com/matusnovak/eba81343f5578c38cf0a9bc22b548727/raw/1678041e118a77c3083216cbf55bcf7b46e02e38/next_git_tag.sh
  - chmod +x next_git_tag.sh
  - git submodule init
  - git submodule update
script:
  - export CURRENT_BRANCH=$TRAVIS_BRANCH
  - if [ $TRAVIS_OS_NAME == linux ]; then sudo unlink /usr/bin/gcc && sudo ln -s /usr/bin/gcc-5 /usr/bin/gcc; fi
  - if [ $TRAVIS_OS_NAME == linux ]; then sudo unlink /usr/bin/g++ && sudo ln -s /usr/bin/g++-5 /usr/bin/g++; fi
  - gcc --version
  - g++ --version
  - mkdir build
  - cd build && cmake ..  -DCMAKE_INSTALL_PREFIX=../install -DCMAKE_BUILD_TYPE=MinSizeRel && cd ..
  - cd build && make all && make install && cd ..
  - ./next_git_tag.sh
  - export GCC_MACHINE=$(gcc -dumpmachine)
  - export GCC_VERSION=$(gcc -dumpversion)
  - cd install && zip -r "../ffw-$GCC_MACHINE-$GCC_VERSION.zip" *
branches:
  only:
  - master
  - devel
notifications:
  email:
    recipients:
    - matusnov@gmail.com
  on_success: always
  on_failure: always
before_deploy:
  - export CURRENT_BRANCH=$TRAVIS_BRANCH
  - chmod +x .ci/gittag.sh
  - source .ci/gittag.sh
  - echo "Exporting TRAVIS_TAG $GITHUB_RELEASE_TAG"
  - export TRAVIS_TAG=$GITHUB_RELEASE_TAG
deploy:
  provider: releases
  overwrite: true
  skip_cleanup: true
  target_commitish: $TRAVIS_COMMIT
  tag_name: $TRAVIS_TAG
  name: "FineGraphics - $TRAVIS_TAG"
  body: "$TRAVIS_COMMIT_MESSAGE"
  draft: false
  file_glob: true
  api_key:
    secure: lUJnilARIKozAS5OKbvFPjYis21mUk6BSdTMLGdKf0T1F9hoV3Asb/qI8siF2c6/7KMq6xibt5TH3O27a7HuNuzgckPpyYiFoOcMzDQtShPJ8qCnJJtZK/Fjb8Z7pe4zYTjIY+NjvsPd1SGhqb3YR8oLSOqr6WVocp0js5QPJJakbX4PMV2Ir4yUWgC/A/6e53gvTfCBlxM6cKbcrX8spPaKbU7GdE0XpVgoLD/qPcteZJjWJSrLHT4hM5nTcKdbClQIdsN0LEz74zE0C5KmIWcyW/PoJpxqWMX6Zdk7105Zo0sbTKDTsyxGWHnfqcrfG8fAikGTYAzTU1zTv9fykJnS2fMhVcLBSMl2KtnN7HWCFCD43T8y5qqlreF1/KPdNypIQrwOC4ZkmcyiorLWCyU2vXKeAgGTaQyi+X3PSMlEsgbnZm0S+kIX5XxWuwW/5Qu3Wzq7LvEdXfK3u+fb7yoPEZ+di3ZioJt7zrxZqwEy1gcq3wV5WYa7gBQa05T6c35D/nHHipiIDXubhL+mP83b9SSO81ubOYBedSf3dht0u/B/Qn9Vta+gnquuP+/jvvPXzp4dZBcJfGfsjrGMkLA3VVf79POSYWoYwfS2DlFzZApxYBsP3rROWaPMN1jSYzqaur3diyOtq3Ad/Af5oso+bt8VcjpY7GlyYfCZa6g=
  file: ffw-*.zip
  on:
    tags: false
    repo: matusnovak/finegraphics
    branch: devel
