version: '{build}'

#---------------------------------#
#      general configuration      #
#---------------------------------#
branches:
  only:
    - master
    - devel
  except:
    - gh-pages
skip_tags: true

#---------------------------------#
#    environment configuration    #
#---------------------------------#
platform: Any CPU
environment:
  matrix:
  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2013
    TOOLSET: w64-mingw32
    ARCH: i686
    GENERATOR: '"MinGW Makefiles"'
    MINGW_DIR_BIN: C:\mingw-w64\i686-6.3.0-posix-dwarf-rt_v5-rev1\mingw32\bin
  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2013
    TOOLSET: w64-mingw32
    ARCH: x86_64
    GENERATOR: '"MinGW Makefiles"'
    MINGW_DIR_BIN: C:\mingw-w64\x86_64-6.3.0-posix-seh-rt_v5-rev1\mingw64\bin
  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2013
    TOOLSET: vc12
    ARCH: win32
    GENERATOR: '"Visual Studio 12 2013"'
  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2013
    TOOLSET: vc12
    ARCH: win64
    GENERATOR: '"Visual Studio 12 2013 Win64"'
  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
    TOOLSET: vc14
    ARCH: win32
    GENERATOR: '"Visual Studio 14 2015"'
  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
    TOOLSET: vc14
    ARCH: win64
    GENERATOR: '"Visual Studio 14 2015 Win64"'
  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
    TOOLSET: vc15
    ARCH: win32
    GENERATOR: '"Visual Studio 15 2017"'
  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
    TOOLSET: vc15
    ARCH: win64
    GENERATOR: '"Visual Studio 15 2017 Win64"'

#---------------------------------#
#            steps                #
#---------------------------------#
install:
  - cmd: curl -k -o next_git_tag.bat https://gist.githubusercontent.com/matusnovak/eba81343f5578c38cf0a9bc22b548727/raw/e3745d1cda3391a7cf30c7478e91297d7e2b4243/next_git_tag.bat
  - cmd: git submodule init
  - cmd: git submodule update
  - cmd: mkdir build
  - cmd: >-
      if defined MINGW_DIR_BIN (
        cmake .. -G %GENERATOR% -DCMAKE_INSTALL_PREFIX="..\install" -DCMAKE_IGNORE_PATH="C:/Program Files/Git/usr/bin" -DCMAKE_C_COMPILER="%MINGW_DIR_BIN%\gcc.exe" -DCMAKE_CXX_COMPILER="%MINGW_DIR_BIN%\g++.exe"
      ) else (
        cmake .. -G %GENERATOR% -DCMAKE_INSTALL_PREFIX="..\install"
      )

before_build:
  - cmd: call .\next_git_tag.bat

build_script:
  - cmd: >-
      cd build
      cmake --build . --target ALL_BUILD --config Debug
      cmake --build . --target ALL_BUILD --config MinSizeRel

test_script:
  - cmd: cd build & ctest --verbose -C "Debug"
  - cmd: cd build & ctest --verbose -C "MinSizeRel"

after_test:
  - cmd: cd build & cmake --build . --target INSTALL --config Debug
  - cmd: ren install debug
  - cmd: cd build & cmake --build . --target INSTALL --config MinSizeRel
  - cmd: ren install release
  - cmd: 7z.exe a "ffw-%ARCH%-%TOOLSET%.zip" .\debug .\release

#---------------------------------#
#      artifacts configuration    #
#---------------------------------#
artifacts:
  - path: ffw-*.zip
    name: Compiled

#---------------------------------#
#           deployment            #
#---------------------------------#
deploy:
  description: '$(APPVEYOR_REPO_COMMIT_MESSAGE)\n$(APPVEYOR_REPO_COMMIT_MESSAGE_EXTENDED)'
  tag: $(appveyor_repo_tag_name)
  release: 'FineGraphics - $(appveyor_repo_tag_name)'
  provider: GitHub
  artifact: /.*\.zip/
  draft: false
  prerelease: false
  auth_token:
    secure: Iy3zJbGrOW9X8aiAYoBX+xHl9mlapXwHrLlsHqrlKFGpXapjiv/lQVZZz3npjPTJ
  on:
    branch: devel
    appveyor_repo_tag: false

#---------------------------------#
#         notifications           #
#---------------------------------#
notifications:
  - provider: Email
    to:
      - matusnov@gmail.com
    on_build_success: true
    on_build_failure: true
    on_build_status_changed: true
    